<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=116622511703498";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul id="civMenu" class="nav navbar-nav">
    <li ><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></a></li>

    <li ><a href="/#how">How it Works</a></li>

    <li ><a href="/#more">Learn More</a></li>

    <li ><a href="http://beta.civnet.co" target="_blank">Go to CivNet</a></li>
    <li ><a href="/blog">Blog</a></li>
    <li ><a href="/#team">Our Team</a></li>
    <li ><a href="/#press">Press</a></li>
    <li ><a href="/jobs">Jobs</a></li>

  </ul><ul class="nav navbar-nav navbar-right navbar-social">

    <li><a href="https://twitter.com/civnetco" class="twitter-follow-button" data-show-count="false">Follow @civnetco</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
    <li><div class="fb-like" data-href="https://www.facebook.com/CivNetCo/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>