.blog-content {
  padding-top: 20px;
}
#blog-logo {
  padding-top: 6em;
  background-color: #189ec0;
  color: white;
}
#blog-logo div {
  text-align: center;
}
#blog-logo h2 {
  font-weight: lighter;
  margin-left: -18%;
}
#blog-logo img {
  margin-bottom: -2em;
}
