.blog-content {
  padding-top: 150px;
}
#blog-logo {
  padding-top: 6em;
  background-color: #189ec0;
  color: white;
}
#blog-logo div {
  text-align: center;
}
#blog-logo h2 {
  font-weight: lighter;
  margin-left: -18%;
}
#blog-logo img {
  margin-bottom: -2em;
}
.blog-post-wrapper {
  padding-top: 20px;
}
.blog_italic{
	font-style: italic;
}
.blog_header_image{
  max-width: 450px;
  max-height: 250px;
  margin-left: 5px;
  margin-bottom: 3px; 
  margin-top: 3px;
  float: right;
}

.blog_header_image2{
  width: 420px;
  margin-left: 15px;
  margin-bottom: 3px; 
  margin-top: 3px;
  margin-right: 60px;
  float: right;
}