.blog-content {
  padding-top: 150px;
}
#blog-logo {
  padding-top: 6em;
  background-color: #189ec0;
  color: white;
}
#blog-logo div {
  text-align: center;
}
#blog-logo h2 {
  font-weight: lighter;
  margin-left: -18%;
}
#blog-logo img {
  margin-bottom: -2em;
}
.blog-post-wrapper {
  padding-top: 20px;
}
.blog_italic{
	font-style: italic;
}
.blog_divider {
  text-align: center;
  color: grey;
  margin-top: -10px;
  margin-bottom: -10px;
}

.blog_header_image{
  max-width: 450px;
  max-height: 200px;
  margin-left: 10px;
  margin-bottom: 3px; 
  margin-top: 10px;
  float: right;
}

.blog_header_image2 {
  width: 420px;
  margin-left: 15px;
  margin-bottom: 3px; 
  margin-top: 3px;
  margin-right: 60px;
  float: right;
}
.blog_header_image3 {
  width: 350px;
  height: 200px;
  margin-left: 10px;
  margin-top: 3px;
  margin-right: 20px;
  float: right;
}
.blog_header_image_left {
  max-width: 450px;
  max-height: 180px;
  margin-right: 10px;
  margin-bottom: 3px; 
  margin-top: 13px;
  float: left;
}
.blog_header_new_section{
  margin-top:30px;
}
.blog_image {
  max-width: 450px;
  max-height: 300px;
}
.blog_image_container_left {
  margin-right: 20px; 
  margin-bottom: 15px; 
  margin-top: 10px; 
  float: left;
}
.blog_image_container_right {
  margin-left: 20px; 
  margin-bottom: 15px; 
  margin-top: 10px; 
  float: right;
}
.blog_subtitle {
  font-size: .6em;
  color: grey;
  margin-bottom: -10px;
  text-align: center;
}
.blog_quotation{
  margin-left:40px;
  margin-top:-5px;
  font-style:italic;
}