html, body{ height: 100%; }
#splash { color: #888; background-color: #e1f6fb; }
/*
#splash a { 
  color: #888; 
  display: inline-block;
  border: 1px solid #009ec1;
  padding: 0.5em;
  margin: 1em;
  font-weight: 300;
}

#splash a:link,
#splash a:visited {
  text-decoration: none;
}
#splash a:hover,
#splash a:active {
  text-decoration: none;
  color: #009ec1;
}
*/

#splash div {
  text-align: center;
}


#splash h2 {
  font-weight: lighter;
}

#splash .uncollapse {
  background-color: #03A2C6;
  color: white; 
  border-radius: 10px;
  margin-top: -10px;
   a {
    display: inline-block;
    padding: 0.5em 2em;
    margin: 1em;
    font-weight: 600;
    font-size: 24px;
  }

}

#splash {
  i {
    font-size: 27px;
    position: absolute;
    color: #03A2C6;
    top: 40px;
    left: 45px;
    width: 28px;
    @media (min-width: 550px) {
      top: 50px;
      left: 55px;
      font-size: 32px;
    }
  }
}
#splash {
  .profile-overlap-logo {
    position: absolute;
    top: 30px;
    left: 35px;
    width: 28px;
    @media (min-width: 550px) {
      top: 45px;
      left: 40px;
      width: 34px;
    }
  }
}
#splash img { margin-bottom: 2em;}

#how-two {
  @media (min-width: 550px) {
    padding-right: 10%;
  }
}
#team {
  text-align: center;
}

#more {
  background-color: #f0f0f0;
}

.panetron .pt-section {
  padding-top: 10em;
}

#faq {
  background-color: #e1f7fc;
}
.panetron {
  margin-bottom: -5em;
  padding-top: 5em;
  @media (min-width: 550px) {
    padding-bottom: 0em;
    padding-top: 8em;
  }
  background-color: #e1f7fc;
}
.profile {
  display: inline-block;
  position: relative;
  margin-top: -35px;
}
.profile img {
  width: 49px;
  border-radius: 52%;
  display: block;
  margin: 10px;
  @media (min-width: 550px) {
    width: 65px;
  }
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#press .embed-container {
  padding-bottom: 166px;
  background-color: #111;
}

@media (min-width: 768px) {
  .navbar-social li {
    padding-top: 15px;
    padding-right: 15px;
  }
}
.video-wrapper {
  width: 80%;
  display: inline-block;
  margin-left: 10%;
  @media (min-width: 550px) {
    display: inline-block;
    width: 50%;
    margin-left: 0px;
  }
}
.video-right {
  @media (min-width: 550px) {
    float: right;
  }
}
.full-screen-video {
  .video-wrapper {
    padding-top: 100px;
  }
}
.video-text-wrapper {
  padding-left: 10%;
  display: block;
  vertical-align: top;
  height: 540px;
  @media (min-width: 550px) {
    display: inline-block;
    width: 45%;
    height: auto;
  }
}
.video-text {
  position: relative;
  top: -200px;
  left: 50px;
  width: 70%;
}
.big-numbers {  
  height: 362px;
  width: 101px;
  opacity: 0.48;
  &.one {
    color: #EA8C2E;  
  }
  &.two {
    color: #6BAA2E;
  }
  &.three {
    color: #296279;
  }
  font-family: "Caveat Brush";
  font-size: 288px;
  line-height: 362px;
}
.splash-video {
  width: 100%;
  display: inline-block;
  max-height: 500px
}
.groups-img-wrapper {
  padding: 0px 15px;
  margin: 0px 0px 20px 0px;
}
.navbar {
  margin-bottom: 0px;
}
.right {
  text-align: right;
}
.navbar-default {
  background-color: white;
}
.jumbotron h1 {
  color: black;
  font-size: 34px;
}
.groups-wrapper {
  background-color: #34758C;
  color: white;
  text-align: center;
  margin-top: 150px;
  @media (min-width: 550px) {
    margin-top: 0px;
  }
  h2 {
    font-weight: 800;
    font-size: 36px;
  }
  a {
    background-color: #03A2C6;
    color: white; 
    display: inline-block;
    border-radius: 10px;
    padding: 0.5em 2em;
    margin: 1em;
    font-weight: 600;
    font-size: 24px;
  }
}
#mc_embed_signup .mc-field-group input {
  color: #888;	
}
.small-gray {
  font-size: 12px;
  color: gray
}
.twitter-follow-button {
  margin-bottom: -6px !important;
}
.group_image {
  max-width: 30%;
  margin-right: -5px;
}
.signup-button{
    font-weight: 800;
    font-size: 36px;
  button {
    background-color: #03A2C6;
    color: white; 
    display: inline-block;
    border-radius: 10px;
    padding: 0.5em 2em;
    margin: 1em;
    font-weight: 600;
    font-size: 24px;
  }
}
